@page
@using PureLib.Model
@model PureMatch.Pages.pm.PureMatchRoot
@inject PureLib.Services.IDB db
@{
    ViewData["Title"] = "PureMatch - vælg kriterier, nulstil eller se dine matches";
    User u = null!;
    try
    {
        u = SessionHelper.Get<User>(u, HttpContext);
        u.Days = db.ReadDays(u.UserID);
        u.MuscleGroups = db.ReadMuscleGroups(u.UserID);
    }

    catch
    {

    }

}


@if (u == null) // Hvis ingen bruger er logget ind
{
    <h1 class="text-blue">
        PureMatch <br />

    </h1>





    <div class="container">
        <div class="row">
            <div class="col-2">
            </div>

            <div class="col-8 backgroundcolor container-secondary ">
                <div class="padding20">
                    <p class="emphersize">
                        PureMatch er til dig der mangler en træningsmakker.<br />Indtast dine oplysninger på denne side når du er logget ind, klik på 'Find Matches' og find din makker idag!
                        For at benytte PureMatch skal du være logget ind og have et aktivt medlemskab.
                    </p>

                    <a asp-page="./SelectSubscription" class="backgroundcolorbutton strong">Bliv medlem</a>
                    <a asp-page="../Logins/Login" class="backgroundcolorbuttonblue strong">Log ind</a>
                </div>


            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
}
else // Hvis en bruger er logget ind
{
    <h1 class="headers">PureMatch</h1>

    @if (u.Days.Count > 0 && u.MuscleGroups.Count > 0)
    {

        <div class="container-main container-small container centertext backgroundcolor">
            <div class="padding50topbot">
                <a class="backgroundcolorbuttonblue strong" asp-page="PureMatch" type="submit">Mine Matches</a>


                <form method="post" asp-page-handler="ResetMatch">

                    <input type="submit" class="backgroundcolorbutton margin5top strong" value="Nulstil min matching" />
                </form>
            </div>

        </div>

    }
    else

    {
        <a class="backgroundcolorbuttonblue strong" asp-page="PureMatch" type="submit">Mine Matches</a>
        <div class="container backgroundcolor round">

            <form method="post" asp-page-handler="ChangeCriteria">
                <div class="subscription-container margin40 margin">

                    <div class="subscription backgroundcolorwhite margin50topbot">
                        <div class="bottomborder infotip">
                            <h2 class="d-inline">Muskelgrupper</h2><img src="~/images/infowide.png" class="infoimg margin5bot" />
                            <span class="infotiptext">Vælg mindst en muskelgruppe du skal træne</span>
                        </div>



                        <p>

                            @for (int i = 0; i < Model.Groups.Count; i++)
                            {
                                <input type="checkbox" value="true" asp-for="MuscleGroups[i]" /> @Model.Groups[i]
                                <br />
                            }


                        </p>

                    </div>

                    <div class="subscription backgroundcolorwhite margin50topbot">
                        <div class="bottomborder infotip">
                            <h2 class="d-inline">Niveau</h2><img src="~/images/infowide.png" class="infoimg margin5bot" />
                            <span class="infotiptext">Vælg dit træningsniveau. Du kan stadig matche med folk med andre niveauer</span>
                        </div>
                        <p>
                            @for (int i = 0; i < Model.Levels.Count; i++)
                            {
                                <input type="radio" value="@i" asp-for="@Model.SelectedLevel" /> @Model.Levels[i]
                                <br />
                            }
                        </p>

                    </div>

                    <div class="subscription backgroundcolorwhite margin50topbot">

                        <div class="bottomborder infotip">
                            <h2 class="d-inline">Dage</h2><img src="~/images/infowide.png" class="infoimg margin5bot" />
                            <span class="infotiptext">Vælg de dage du kan træne. Du skal vælge mindst en dag</span>
                        </div>
                        <p>

                            @for (int i = 0; i < Model.Days.Count; i++)
                            {
                                <input type="checkbox" value="true" asp-for="@Model.DaysList[i]" /> @Model.Days[i]
                                <br />
                            }


                        </p>

                    </div>

                </div>
                <div class="text-center">
                    <p class="text-danger">@Model.NotValidInput</p>
                    <input type="submit" class="backgroundcolorbutton strong bottom-button" value="Match">
                </div>


            </form>
        </div>
    }









}





