@page
@model PureMatch.Pages.pm.PureMatchModel;
@using PureLib.Model;
@inject PureLib.Services.DataBaseLink db;
@{
    // TODO: Change to session-version
    User u = null!;
    try
    {
        u = SessionHelper.Get<User>(u, HttpContext); 
    }
    catch
    {
        
    }
}

<div class="container backgroundcolor">
    <div class="row">
        <div class="col-2 container-secondary">
            @* This div is for chats with other prior matches who the user wrote messages with  *@
            <h3 class="text-center ">Chats</h3>
            <div class="vline"></div>
            <form method="post" asp-page-handler="Chat">
                @foreach (User c in Model.Chats)
                {
                    <button type="submit" class="backgroundcolorbuttonblue margin5bot" asp-route-ownid="@u.UserID" asp-route-chatid="@c.UserID">@c.Name</button>

                    <br />

                }
            </form>

        </div>
        <div class="col-8 container-main container">
            @* This div is for chat-content*@
            <h3 class="text-center">PureMatch</h3>
            <div class="vline"></div>
            <div class="align-end">
                <p class="MyMessages">Hej det ser ud til at vi matcher</p>
            </div>
            <div>
                <p class="OtherMessages">Jaa, super fedt. skal vi sige klokken 18:00</p>
            </div>
            <div class="align-end">
                <p class="MyMessages">Hmm hvad siger du til 18:30</p>
            </div>
            <div>
                <p class="OtherMessages">det lyder perfekt</p>
            </div>
            <div class="align-end">
                <p class="MyMessages">super, så ses vi der!</p>
            </div>
            <div>
                <p class="OtherMessages">Det gør vi :)</p>
            </div>

        </div>

        <div class="col-2 container-secondary">
            @* This div is for Matches *@

            <h3 class="text-center">Matches</h3>
            <div class="vline"></div>
            <form method="post">


                @if (Model.Matches.Any(user => user.Level == u.Level))
                {
                    @foreach (User user in Model.Matches)
                    {


                        <button class="backgroundcolorbutton" type="submit" asp-page-handler="UserPage" asp-route-matchid="@user.UserID">@u.Name</button>

                    }
                }
                @if (Model.Matches.Any(user => user.Level != u.Level))
                {
                    @foreach (User user in Model.Matches.Where(user => user.Level != u.Level))
                    {


                        <button class="backgroundcolorbutton" type="submit" asp-page-handler="UserPage" asp-route-matchid="@u.UserID">@u.Name</button>

                    }

                }
            </form>
        </div>
    </div>
</div>