@page
@using PureLib.Model
@model PureMatch.Pages.pm.PureMatchRoot
@inject PureLib.Services.DataBaseLink db

@{
    User u = null!;
    try
    {
        u = SessionHelper.Get<User>(u, HttpContext);
        u.Days = db.ReadDays(u.UserID); 
        u.MuscleGroups = db.ReadMuscleGroups(u.UserID); 
    }
    catch
    {

    }

}
<head>
    <title>PureGym - PureMatch choose your matching!</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>


@if (u == null) // Hvis ingen bruger er logget ind
{
    <h1>
        PureMatch
    </h1>

    <h1>Find den perfekte træningspartner</h1>



    <div class="container">
        <div class="row">
            <div class="col-2">
            </div>

            <div class="col-8 backgroundcolor">
                <div class="margin40">
                    <p class="emphersize centertext ">
                        PureMatch er til dig der mangler en træningsmakker. Indtast dine oplysninger under din profil, klik på PureMatch og find din makker idag!
                        For at benytte PureMatch skal du være logget ind og have et aktivt medlemskab.
                    </p>

                    <a asp-page="./SelectSubscription" class="backgroundcolorbutton strong">Bliv medlem</a>
                    <a asp-page="../Logins/Login" class="backgroundcolorbuttonblue strong">Log ind</a>
                </div>


            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
}
else // Hvis en bruger er logget ind
{
    <h1 class="headers">PureMatch</h1>
    
    @if (u.Days.Count > 0 && u.MuscleGroups.Count > 0)
    {
        
        <div class="container-main container-small container centertext backgroundcolor">
            <div class="padding50topbot">
                <a class="backgroundcolorbuttonblue strong" asp-page="PureMatch" type="submit">Mine Matches</a>
                <form method="post" asp-page-handler="ResetMatch">
                    <input type="submit" class="backgroundcolorbutton margin5top strong" value="Nulstil min matching" />
                </form>
            </div>
            
        </div>
        
    }
    else

    {
        <a class="backgroundcolorbuttonblue strong" asp-page="PureMatch" type="submit">Mine Matches</a>
        <div class="container backgroundcolor">

            <form method="post" asp-page-handler="ChangeCriteria">
                <div class="subscription-container margin40 margin">

                    <div class="subscription backgroundcolorwhite margin50topbot">
                        <h2 class="bottomborder">Muskelgrupper</h2>
                        <p>

                            @for (int i = 0; i < Model.Groups.Count; i++)
                            {
                                <input type="checkbox" value="true" asp-for="MuscleGroups[i]" /> @Model.Groups[i]
                                <br />
                            }


                        </p>

                    </div>

                    <div class="subscription backgroundcolorwhite margin50topbot">
                        <h2 class="bottomborder">Niveau</h2>
                        <p>
                            @for (int i = 0; i < Model.Levels.Count; i++)
                            {
                                <input type="radio" value="@i" asp-for="@Model.SelectedLevel" /> @Model.Levels[i]
                                <br />
                            }
                        </p>

                    </div>

                    <div class="subscription backgroundcolorwhite margin50topbot">
                        <h2 class="bottomborder">Dage</h2>
                        <p>

                            @for (int i = 0; i < Model.Days.Count; i++)
                            {
                                <input type="checkbox" value="true" asp-for="@Model.DaysList[i]" /> @Model.Days[i]
                                <br />
                            }


                        </p>

                    </div>

                </div>
                <div class="text-center">
                    <input type="submit" class="backgroundcolorbutton strong bottom-button" value="Match">
                </div>


            </form>
        </div>
    }
    








}





